/*
 Theme Name:     Foundations of Faith
 Theme URI:      https://www.liberty.edu
 Description:    EDU Child Theme
 Author:         Liberty University
 Author URI:     https://www.liberty.edu
 Template:       wp-edu-theme
 Version:        1.0.0
*/

.excerptColumn {
    position: relative;
    padding-bottom: 4em;
    margin-bottom: 50px;
}

.excerptButton {
    position: absolute;
    bottom: 0;
}

.featuredImage__block {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

.featuredImage__block:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
}

.excerptImage {
    max-height: 223px;
}

.excerptButton {
    min-width: 100%;
    margin-top: 25px;
    position: absolute;
    bottom: 0;
}
